<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tickets{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="header">
    <a href="{% url 'index' %}" class="sel">Tickets</a>
    <a href="/admin/" class="sel">Admin Site</a>
    {% if user.is_authenticated %}
      <span class="username">Welcome, {{ user.username }}</span>
    {% endif %}
    <div class="header-right">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="sel">Logout</a>
      {% endif %}
    </div>
  </div>
  <div id="body">
   {% block content %}{% endblock %}
  </div>
</body>
</html>