{% extends 'base.html' %}
{% block title %} Tickets {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<table class="styled-table">
 <thead>
  <tr>
   <th>Ticket</th>
   <th>Summary</th>
   <th>Status</th>
   <th>Assignee</th>
   <th>Created</th>
   <th>Last Updated</th>
   <th>Story Points</th>
  </tr>
 </thead>
 <tbody>
  {% for ticket in tickets %}
  <tr>
   <td><a href="{{ticket.id}}">{{ticket.id}}</td>
   <td>{{ticket.title}}</td>
   <td>{{ticket.status}}</td>
   <td>{{ticket.assignee}}</td>
   <td>{{ticket.created_at}}</td>
   <td>{{ticket.updated_at}}</td>
   <td>{{ticket.story_points}}</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
{% else %}
<div class="login-container">
  <p>You need to <a href="{% url 'login' %}">login</a> to view the tickets.</p>
</div>
{% endif %}
{% endblock %}